:root {
  --main-text-color: #fff;
  --accent-color: #d41443;
  --background-color: #ffb8ca;
  --main-font: "DM Sans";
  --secondary-font: "Titan One";
  --main-font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  color: var(--main-text-color);
}
@media screen and (max-width: 767px) {
  body.menu-open {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.section {
  padding-bottom: 60px;
}

.header {
  background-color: #ffb8ca;
  margin: 0 auto;
  max-width: 320px;
  background-position: top 83px left 36px;
  background-size: 346px 344px;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .header {
    background-image: url(../media/images/mobile-header/Ellipse3-284.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../media/images/mobile-header/Ellipse3-568.png);
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    background-position: top 43px right 185px;
    background-size: 335px 333px;
    background-image: url(../media/images/tablet-header/Ellipse3-335.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../media/images/tablet-header/Ellipse3-670.png);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-position: top 54px right 149px;
    max-width: 1200px;
    background-size: 534px 534px;
    background-image: url(../media/images/desktop-header/Ellipse3-534.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../media/images/desktop-header/Ellipse3-1068.png);
  }
}

.header__container {
  position: relative;
}

.logo {
  display: block;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
  .nav__item {
    padding: 12px 0;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}
.nav__link {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
}
@media screen and (max-width: 1199px) {
  .nav__link {
    font-size: 14px;
  }
}
.nav__link--current {
  color: var(--accent-color);
}

.mobile-menu {
  display: block;
  position: absolute;
  width: 20px;
  height: 12px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    right: 20px;
    top: 27px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    right: 20px;
    top: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__particle {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}
.mobile-menu::before, .mobile-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  -webkit-transition: background-color 500ms ease-out, -webkit-transform 500ms ease-out;
  transition: background-color 500ms ease-out, -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out, background-color 500ms ease-out;
  transition: transform 500ms ease-out, background-color 500ms ease-out, -webkit-transform 500ms ease-out;
}
.mobile-menu::before {
  top: 0;
}
.mobile-menu::after {
  bottom: 0;
}
.mobile-menu.is-open::before {
  top: 5.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--main-text-color);
}
.mobile-menu.is-open::after {
  bottom: 5.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: var(--main-text-color);
}
.mobile-menu.is-open .mobile-menu__particle {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 60px 20px 0 20px;
    width: 100vw;
    height: 100vh;
    background-color: #e17992;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border-color: transparent;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
  cursor: pointer;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
.btn:hover, .btn:focus {
  background-color: #ecebeb;
}
@media screen and (max-width: 767px) {
  .btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    width: 159px;
  }
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border-color: transparent;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
  cursor: pointer;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
.btn-menu:hover, .btn-menu:focus {
  background-color: #ecebeb;
}
@media screen and (max-width: 767px) {
  .btn-menu {
    width: 100%;
    max-width: 210px;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 768px) {
  .btn-menu {
    width: 186px;
    margin-bottom: 20px;
  }
}

.btn__icon {
  margin-left: 28px;
}
@media screen and (min-width: 768px) {
  .btn__icon {
    margin-left: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .btn__icon {
    margin-left: 12px;
  }
}

.hero__header {
  font-family: var(--secondary-font), sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.15;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 22px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1200px) {
  .hero__header {
    font-size: 38px;
    line-height: 1.158;
  }
}

.hero__header--red {
  font-size: 48px;
  line-height: 0.96;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__header--red {
    font-size: 34px;
    line-height: 0.9;
  }
}
@media screen and (min-width: 1200px) {
  .hero__header--red {
    font-size: 58px;
    line-height: 0.905;
  }
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  font-family: var(--main-font), sans-serif;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border-color: transparent;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
.hero__link:hover, .hero__link:focus {
  background-color: #ecebeb;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__link {
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__link--white {
  width: 83px;
  color: var(--accent-color);
  background-color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__link--white {
    width: 138px;
  }
}

.hero__link--red {
  width: 62.4px;
  color: var(--main-text-color);
  background-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__link--red {
    width: 107px;
  }
}

.hero__girl,
.hero__img,
.hero__thumb,
.hero__institution {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__girl,
.hero__img,
.hero__thumb,
.hero__institution {
    display: block;
  }
}

.hero__text {
  font-size: 8px;
  line-height: 1.5;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-color: transparent;
  color: var(--accent-color);
  fill: var(--accent-color);
  background-color: var(--main-text-color);
  cursor: pointer;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 26px;
    height: 26px;
  }
}

.hero__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .hero__arrow-icon--big {
    display: none;
  }
  .hero__arrow-icon--small {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .hero__arrow-icon--big {
    display: block;
  }
  .hero__arrow-icon--small {
    display: none;
  }
}
.hero__arrow-icon {
  color: currentColor;
}

.hero__institution {
  position: relative;
  right: 16px;
  z-index: 10;
  text-align: right;
}

.hero__icon {
  position: absolute;
  top: -2px;
  right: -10px;
  z-index: -1;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1200px) {
  .hero__icon {
    top: -4px;
    right: -18px;
    width: 30px;
    height: 30px;
  }
}

.hero__inst-number {
  font-family: var(--secondary-font), sans-serif;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__inst-number {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__inst-type {
  font-size: 8px;
  line-height: 10px;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__inst-type {
    font-size: 14px;
    line-height: 1.2857;
  }
}/*# sourceMappingURL=main.css.map */